<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="app.component.style.css">
  <title>Document</title>
</head>
<body>
  <div>
    <div class="sidebar">
      <div>
        <div id="slaca-2019">
          <h2 id="texto-slaca-2019">SLACA 2019</h2>
        </div>
        <img id="logo-sidebar" src="../assets/logoSLACA.png" alt="13 slaca">
      </div>
      <div>
        <ul>
          <li class="itens">
            <a class="item" href="#">Apresentação</a>
            <a class="item" href="#">Comitês</a>
            <a class="item" href="#">Autores</a>
            <a class="item" href="#">Eixos temáticos</a>
            <a class="item item-selecionado" href="#">Trabalhos</a>
            <a class="item" href="#">Contato</a>
          </li>
        </ul>
      </div>
    </div>

    <div>
      <header>
      </header>
      <main>
      </main>
      <footer>
      </footer>
    </div>
  </div>
  
</body>
</html>