@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root{
    --pessego: rgba(253, 241, 235, 1);
}
body{
    margin: 0px;
    width: 100%;
    overflow-x: hidden;

}


.flex {
    display: flex;
    margin-top: 0px; 
    width: 100%;  
    max-width: 100%;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    width: 220px;
    height: 1701px; 
    padding-top: 
}

#slaca-2019{            
    display: flex;      
    width: 100%;
    height: 68px;
    background-image: linear-gradient(to bottom, rgba(255, 179, 84, 1), rgba(238, 122, 58, 1));
}

#texto-slaca-2019{  
    display: block;
    text-align: center;
    align-self: center;  
    font-family: "Roboto", sans-serif;    
    font-size: 30px;
    font-weight: 70;
    color: rgba(255, 255, 255, 1);  
    margin: auto;   
}

#logo-sidebar{
    padding-top: 5px;
    width: 100%;
}

.itens {    
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.item{    
    margin-left: -40px;
    padding-top: 14px;    
    font-family: "Quicksand", sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 18.75px;
    text-indent: 24px;
    color: rgba(114, 92, 92, 1);
    text-decoration: none;
    height: 34px;
    align-items: center;  
    border-bottom: 2px solid rgba(231, 231, 231, 1);    
}   


.item-selecionado{
    background: 
        linear-gradient(to bottom, rgba(255, 180, 85, 1), rgba(237, 120, 57, 1)), 
        linear-gradient(to bottom, var(--pessego) 100%, transparent 100%); 
    background-position: left top, left top; 
    background-size: 5px 100%, auto; 
    background-repeat: no-repeat; 
}

.item:hover{    
    background: 
        linear-gradient(to bottom, rgba(255, 180, 85, 1), rgba(237, 120, 57, 1)), 
        linear-gradient(to bottom, var(--pessego) 100%, transparent 100%); 
    background-position: left top, left top; 
    background-size: 5px 100%, auto; 
    background-repeat: no-repeat; 
}

.content-page{
    width: 100%;
}
.header {    
    display: flex;
    align-items: center;
    background-color: var(--pessego);
    height: 68px;
    width: 100%;
    padding-left: 36px;
}

.text-header{
    margin-right: auto;
}

.text-header-little {
    font-family: "Roboto", sans-serif;   
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: left;
    color: rgba(114, 92, 92, 1);
    margin: auto;
    height: 16px;
    top: 5px;
    left: 36px;

}

.text-header-big{
    font-family: "Roboto", sans-serif;   
    font-size: 22px;
    font-weight: 400;
    line-height: 25.78px;
    text-align: left;
    color: rgba(114, 92, 92, 1);
    margin: 0px 0px;
    width: 643px;
    height: 26px;
    top: 23px;
    left: 36px;

}

.language {    
    height: 100%;
    display: fixed;
    align-items: center;
    
}

.pt-br {
    font-family: "Quicksand", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.5px;
    text-align: left;
    color: rgba(51, 51, 51, 1);

    border: 1px solid rgba(204, 204, 204, 1); /* Borda preta de 1px */
    padding: 8px 14px; 
    display: inline-block; /* Permite que a borda envolva o texto */
    border-radius: 3px;



}

.pt-br::before {
    content: "\f0ac\0020 ";
}
.pt-br::after {
    content: "\0020 \25BC";
    font-size: 10px;    
}

.login {
    display: flex;
    align-items: center;
    margin-right: 110px;
    margin-left: 22px;
}


.welcome {    
    text-align: right;
}



.text-welcome {
    font-family: "Quicksand", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.5px;

}

.text-email{
    font-family: "Quicksand", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
}
.content-photo {
    position: absolute;
    right: 36px; 
}

.badge {
    position: absolute;
    top: -3px;
    right: -3px;
    background-color: rgba(248, 89, 89, 1);
    color: white;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    line-height: 20px; 
    text-align: center;
    font-family: Roboto;
    font-size: 10px;
    font-weight: 700;
    line-height: 11.72px;
    letter-spacing: -0.02em;

  }

.photo {
    height: 30px;
    border-radius: 50%;

}

#main {
    background-color: gray;
    margin-left: 800;
    height: 1701px;
    width: 100%;
}


h1, h2 {
    text-align: center;
}

p{
    align-items: center;
    margin: auto;
}

