<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="app.component.style.css">
  <title>Chuva - Exercício ts</title>
  <script src="script.js" defer></script>
</head>
<body>
  <div class="flex">
    
    <div class="sidebar">
      <div>
        <div id="slaca-2019">
          <h1 id="texto-slaca-2019">SLACA 2019</h1>
        </div>
        <img id="logo-sidebar" src="../assets/logoSLACA.png" alt="13 slaca">
      </div>
      <div>
        <ul>
          <li class="itens">
            <a class="item" href="#">Apresentação</a>
            <a class="item" href="#">Comitês</a>
            <a class="item" href="#">Autores</a>
            <a class="item" href="#">Eixos temáticos</a>
            <a class="item item-selecionado" href="#">Trabalhos</a>
            <a class="item" href="#">Contato</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="content-page">
      <header class="header">
        
        <div class="text-header">
          <p> <span class="text-header-little">Anais do Simpósio Latino Americano de Ciências de Alimentos</span><br>
          <span class="text-header-big">Anais do 13º Simpósio Latino Americano de Ciência de Alimentos</span><br>
          <span class="text-header-little">ISSN: 1234-5678</span></p>
        </div>

        <div class="language">
          <img class="globo" src="../assets/globo.jpg" alt="">
          <h2 class="pt-br">PT, BR</h2>
        </div>

        <div class="login">
          <div class="welcome">
            <p ><span class="text-welcome">Bem vindo!</span><br><span class="text-email">alguem12@galoascience.com</span></p>
          </div>

          <div class="content-photo">
            <img class="photo" src="../assets/pessoa-que-nao-existe.jpeg" alt="rosto">
            <div class="badge">2</div>
          </div>

        </div>
      </header>
      <main class="main">
        <div >
          <div class="apresentation">
            <div class="left-apresentation">              
              <div class="cabecalho">
                <h2 class="font-cabecalho">Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município de Campinas/SP </h2>
              </div>
              <div>
                <img class="thumb" src="../assets/thumb.jpeg" alt="thumb">
                <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/hsYjz6sYt4k?si=B-saNDKR1ZBN7JdE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
                poster="../assets/pessoa-que-nao-existe" allowfullscreen ></iframe> -->
              </div>
            </div>

            <div class="right-apresentation">
              <div class="header-download">
                <div class="header-download-top">
                  <div class="download">
                    <img class="altura-imagem" src="../assets/download.jpg" alt="download">
                    <p>Download</p>
                  </div>
                  <div class="star">
                    <img class="altura-imagem" src="../assets/star.jpg" alt="star">
                  </div>
                  <div class="doi">
                    <img class="altura-imagem" src="../assets/doi.jpg" alt="doi">
                  </div>
                </div>                
                  <p class="como-citar">COMO CITAR ESSE TRABALHO?</p>                
              </div>
              <div class="detalhes">
                <div class="header-detalhes">
                  <p class="texto-detalhes">Detalhes</p>
                </div>
                <div class="conteudo-detalhes">
                  <div class="scroll">
                    <p class="no-margin-top">Tipo de Apresentação: <strong>Pôster</strong></p>
                    <p>Eixo temático: <strong>Alimentação e saúde (AS)</strong></p>
                    <p>Palavras-chaves: <strong>Alimentos funcionais, alimentação escolar.</strong></p>
                    <ul class="lista-editavel">
                      <li><strong>Autores:</strong></li>
                      <li>Galileo Galilei¹</li>
                      <li>Berta Lange de Morretes²</li>
                      <li>Isaac Newton³</li>
                      <li>Cesar Lattes¹</li>
                      <li>Stephen Hawking⁴</li>
                    </ul>
                    <ul class="lista-editavel" >
                      <li class="cinza-claro">¹Universidade Estadual de Campinas</li>
                      <li class="cinza-claro">²Universidade de São Paulo</li>
                      <li class="cinza-claro">³Instituto Nacional de Pesquisas Espaciais</li>
                      <li class="cinza-claro">⁴Universidade Federal do Rio de Janeiro</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="largura-conteudo distancia">
            <div class="header-detalhes bordas largura-conteudo">              
              <p class="texto-detalhes">Resumo</p>
            </div>
            <a onclick="vermais()" class="btn-show-more">
              <div class="bordas resumo-padding resumo-alinhamento">
               Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae turpis auctor, mollis felis ut, commodo turpis. Phasellus felis mauris, egestas eget cursus et, iaculis quis lacus. Fusce auctor eros sed magna ultricies gravida. Etiam aliquam dictum nisl, vel aliquet enim accumsan sit amet. Donec finibus nisi tellus, ut viverra lorem vestibulum ut. Phasellus condimentum orci id leo condimentum lobortis et non lorem. Sed id nisl metus. Quisque sollicitudin ligula in sapien scelerisque, ac gravida eros vestibulum. <span id="resto-conteudo"><br><br>

                Fusce vitae luctus dui. Donec id euismod mauris, in volutpat urna. Proin dapibus consequat feugiat. Proin dictum justo arcu, quis vestibulum augue lacinia quis. Sed dignissim dui nulla, ut faucibus mauris sodales id. Aliquam erat volutpat. Maecenas dolor enim, tincidunt id elit non, suscipit interdum turpis. Etiam finibus urna libero, eget interdum eros volutpat ullamcorper. Pellentesque et pretium lorem. Aenean interdum quis diam ac porttitor. Cras nec ipsum pulvinar, pharetra libero non, ornare enim. Etiam in laoreet odio.<br><br>
                
                Nam eget tristique elit, at fermentum tellus. Mauris scelerisque ligula id eleifend feugiat. Donec eleifend vehicula sem nec dapibus. Integer scelerisque neque dui, in lacinia erat molestie eu. Phasellus maximus dui eget lacus porta tempor. Ut ex nibh, dignissim quis purus semper, efficitur facilisis turpis. Praesent blandit elementum ultricies. Aliquam sit amet enim sit amet nulla pulvinar lobortis consectetur non odio. Phasellus at lacus hendrerit, vulputate nisi sit amet, viverra mauris. Etiam eu scelerisque orci. Quisque sagittis, mi vitae pharetra iaculis, orci elit eleifend massa, eu posuere mauris odio id odio. Morbi eu libero luctus, consectetur lorem vel, interdum sapien. Aenean in porta arcu. Maecenas eu maximus massa.<br><br>
                
                Praesent velit dolor, dignissim sed quam ac, efficitur porta justo. Pellentesque porta pharetra felis ut hendrerit. Nulla facilisi. Aliquam erat volutpat. Nunc sit amet faucibus quam. Maecenas dapibus luctus dolor at viverra. Duis nec fringilla libero. Duis risus nibh, viverra ac orci nec, iaculis dictum sem. Aliquam at malesuada arcu. Aliquam erat volutpat. Donec varius ipsum purus, ut vehicula purus placerat vitae. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span> <span id="ver-mais">Ver mais</span>       
                
              </div>
            </a>  

          </div>

          <div class="discussoes header-detalhes largura-conteudo">
            <p class="texto-detalhes">Discussões</p>
          </div>
          <!-- corpo discussoes -->
          <div class="bordas largura-discussoes resumo-padding">

            <div class="margin-botton">
              <!-- aqui comeca "Compartilhe suas ideias" -->
              <div id="compatilhe-suas-ideias">
                <p class="compartilhe">Compartilhe suas ideias ou dúvidas com os autores!</p>
                <div class="tres-imagens">
                  <img class="tamanho-imagens" src="../assets/icone1.jpg" alt="Duvidas">
                  <img class="tamanho-imagens" src="../assets/icone2.jpg" alt="Compartilhamento">
                  <img class="tamanho-imagens" src="../assets/icone3.jpg" alt="Idéias">
                </div>
                <p class="sabia">Sabia que o maior estímulo no desenvolvimento científico e cultural é a curiosidade? Deixe seus questionamentos ou sugestões para o autor!</p>
                <div class="flex alinhamento-vertical">
                  <div class="risco-horizontal"></div>
                    <a onclick="criarTopico()" class="btn-create-topic">criar tópico</a>
                  <div class="risco-horizontal"></div>
                </div>
              </div>
              <!-- aqui acaba "Compartilhe suas ideias" -->

              <!-- aqui começa "Duvidas e sugestoes" -->
              <div id="duvidas-e-sugestoes">
                <p class="sabia">Tem uma dúvida ou sugestão? Compartilhe seu feedback com os autores!</p>
                <p class="format-discus">Assunto</p>
                <input class="input-assunto" type="text" placeholder="Defina um tópico sucinto para notificar os autores...">
                <p class="format-discus">Conteúdo</p>
                <input class="input-conteudo" type="text">
                <div class="enviar">
                  <div class="preenchimento-enviar"></div>
                  <a onclick="enviarTopico()" class="bnt-enviar">Enviar</a>
                </div>
              </div>
              <!-- aqui termina Duvidas e sugestoes -->

              <!-- aqui começa "Seu topico foi enviado com sucesso"! -->
              <div id="seu-topico">
                <p class="compartilhe">Seu tópico foi enviado com sucesso! :D</p>              
                <p class="text-topic-send">Agradecemos por sua contribuição, uma notificação será enviada ao seu email assim que seu tópico for respondido!</p>
                <p class="text-descubra">Descubra outros trabalhos!</p>
                <div class="flex alinhamento-vertical">
                  <div class="risco-horizontal"></div>
                  <a onclick="criarNovoTopico()" class="btn-create-new-topic">criar novo tópico</a>
                  <div class="risco-horizontal"></div>
                </div>
                <div class="back-gray">              

                  <div class="aguardando assunto-shadow  assunto-margin-botton">
                    <img class="ok-altura" src="../assets/ok.png" alt="ok">
                    <div class="box-aguardando">
                      <p class="text-aguardando">Aguardando feedback dos autores</p>
                    </div>
                    <div class="box-editar">
                      <p class="text-editar-topico">Editar tópico</p>
                    </div>
                  </div>

                  <div class="ajuste-posicao assunto-largura assunto-shadow assunto-padding assunto-margin-botton">
                    <p class="assunto-header">Assunto da pergunta aparece aqui</p>
                    <p class="assunto-nome-autor">Carlos Henrique Santos</p>
                    <p class="comments-container">Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo...</p>
                    <div class="assunto-footer">
                      <img class="mais-informacoes" src="../assets/mais informações.jpg" 
                      alt="mais informações">
                      <img class="favoritar" src="../assets/favoritar.jpg" alt="favoritar">
                      <p class="assunto-like-resposta">1 like</p>
                      <p class="assunto-like-resposta">1 resposta</p>
                    </div>
                  </div>
  
                  
                  
                </div>
              </div>     
              <!-- aqui termina "Seu topico foi enviado com sucesso"! -->

            </div>

            <div class="assunto-largura assunto-shadow assunto-padding assunto-margin-botton">
              <p class="ops-topic-subject">Assunto da pergunta aparece aqui</p>
              <p class="assunto-nome-autor">Carlos Henrique Santos</p>
              <p class="comments-container">Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo...</p>
              <div class="assunto-footer">
                <img class="mais-informacoes" src="../assets/mais informações.jpg"
                alt="mais informações">
                <img class="favoritar" src="../assets/favoritar.jpg" alt="favoritar">
                <p class="assunto-like-resposta">1 like</p>
                <p class="assunto-like-resposta">1 resposta</p>
              </div>
            </div>
            <a onclick="verRespostas()" class="answered-topic assunto-shadow bordas">
              
              <div class="bordas assunto-shadow">
                <div class="assunto-largura  assunto-padding ">
                  <p class="ops-topic-subject">Assunto da pergunta aparece aqui</p>
                  <p class="assunto-nome-autor">Carlos Henrique Santos</p>
                  <p class="comments-container">Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo<span id="tres=pontos">...</span><span id="resto-discussao"> resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo?</span></p>
                  <div class="assunto-footer">
                    <img class="mais-informacoes" src="../assets/mais informações.jpg"
                    alt="mais informações">
                    <img class="favoritar" src="../assets/favoritar.jpg" alt="favoritar">
                    <p class="assunto-like-resposta">1 like</p>
                    <p class="assunto-like-resposta">1 resposta</p>
                  </div>
                
                </div>

                <div id="answers">
                  <div class="assunto-largura assunto-padding borda-top cinza-fundo">
                    <div class="flex-autor">
                      <p class="assunto-nome-autor">Adriano da silva</p>
                      <div class="flex-coautor">
                        <p class="autor">Autor</p>
                        <img class="ok-laranja" src="../assets/ok-laranja.png" alt="ok">
                      </div>
                    </div>
                    <p class="comments-container">Resposta do autor é aqui. Relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo.</p>
                  </div>
                  <div class="assunto-largura assunto-padding borda-top">
                    
                    <p class="assunto-nome-autor">Carlos Henrique Santos</p>
                    <p class="comments-container">Consegui entender melhor agora! Parece que a variação da análise da dimensão e impacto de processo formativo situado impacto de processo formativo. <br><br>Obrigada pela resposta, muito interessante o seu trabalho!</p>
                  </div>
                  <div class="assunto-largura assunto-padding borda-top cinza-fundo">
                    <div class="flex-autor">
                    <p class="assunto-nome-autor">Carmila Ferreira Andrade</p>
                    <div class="flex-coautor">
                      <p class="autor">Coautor</p>
                        <img class="ok-laranja" src="../assets/ok-laranja.png" alt="ok">
                      </div>
                    </div>
                    <p class="comments-container">Também ínteressante lembrar que o relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo. <br><br>Situado impacto de processo formativo processo resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo.
                    </p>
                  </div>
                  <div class="assunto-largura assunto-padding borda-top cinza-fundo">
                    <div class="flex-autor">
                      <p class="assunto-nome-autor">Ana Carolina</p>
                      <div class="flex-coautor">
                        <p class="autor">Coautor</p>
                        <img class="ok-laranja" src="../assets/ok-laranja.png" alt="ok">
                      </div>
                    </div>
                    
                    <p class="comments-container">Resposta do autor é aqui. Relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo.</p>
                  </div>
                </div>


              </div>
            </a>

          </div>

        </div>
         <!-- corpo discussoes -->
         
      </main>
      <footer>
        <div >
          <img class="footer" src="../assets/footer.jpg" alt="galoa">
        </div>
      </footer>
      </div>
  </div>
  
</body>
</html>
