@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root{
    --pessego: rgba(253, 241, 235, 1);
    --cenoura: rgba(237, 120, 57, 1);
    --cinza: rgba(236, 236, 236, 1);
    --black: rgba(92, 92, 92, 1);
    --strong-black: rgba(78, 78, 78, 1);
    --cinza-claro: rgb(173, 160, 160);
    
    --roboto: "Roboto", sans-serif;   
    --quicksand: "Quicksand", sans-serif;
}

position: fixed;
body{
    margin: 0px;
    width: 100%;
    display: flex;

}


.flex {
    display: flex;
    margin-top: 0px; 
    width: 100%;  
    max-width: 100%;
}

.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    width: 220px;
    height: 1701px; 
}

#slaca-2019{            
    display: flex;      
    width: 100%;
    height: 68px;
    background-image: linear-gradient(to bottom, rgba(255, 179, 84, 1), rgba(238, 122, 58, 1));
}

#texto-slaca-2019{  
    display: block;
    text-align: center;
    align-self: center;  
    font-family: var(--roboto) ; 
    font-size: 30px;
    font-weight: 70;
    color: rgba(255, 255, 255, 1);  
    margin: auto;   
}

#logo-sidebar{
    padding-top: 5px;
    width: 100%;
}

.itens {    
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.item{    
    margin-left: -40px;
    padding: 9px 0px 9px 0px;
    margin-top: 0px 0px 0px 0px 0px;   
    font-family: var(--quicksand);
    font-size: 15px;
    font-weight: 590;
    line-height: 18.75px;
    text-indent: 24px;
    color: rgba(114, 92, 92, 1);
    text-decoration: none;
    align-items: center;  
    border-bottom: 1px solid rgba(231, 231, 231, 1);    
}   


.item-selecionado{
    background: 
        linear-gradient(to bottom, rgba(255, 180, 85, 1), rgba(237, 120, 57, 1)), 
        linear-gradient(to bottom, var(--pessego) 100%, transparent 100%); 
    background-position: left top, left top; 
    background-size: 5px 100%, auto; 
    background-repeat: no-repeat; 
}

.item:hover{    
    background: 
        linear-gradient(to bottom, rgba(255, 180, 85, 1), rgba(237, 120, 57, 1)), 
        linear-gradient(to bottom, var(--pessego) 100%, transparent 100%); 
    background-position: left top, left top; 
    background-size: 5px 100%, auto; 
    background-repeat: no-repeat; 
}

.content-page{
    width: 100%;
    margin-left: 220px;
}
.header {       
    display: flex;
    align-items: center;
    background-color: var(--pessego);
    height: 68px;
    width: 100%;
    padding-left: 36px;
}

.text-header{
    margin-right: auto;
}


.text-header-little {
    font-family: var(--roboto);
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: left;
    color: rgba(114, 92, 92, 1);
    margin: auto;
    height: 16px;
    top: 5px;
    left: 36px;    
    width: 100%;
    white-space: nowrap; /* Evita que o texto quebre em várias linhas */
    overflow: hidden; /* Esconde qualquer conteúdo excedente */
    text-overflow: ellipsis; /* Mostra reticências (...) para indicar que o texto foi truncado */
    max-width: 100%; /* Define a largura máxima do texto */
}



.text-header-big{
    font-family: var(--roboto);
    font-size: 22px;
    font-weight: 400;
    line-height: 25.78px;
    text-align: left;
    color: rgba(114, 92, 92, 1);
    margin: 0px 0px;
    width: 643px;
    height: 26px;
    top: 23px;
    left: 36px;
    white-space: nowrap; /* Evita que o texto quebre em várias linhas */
    overflow: hidden; /* Esconde qualquer conteúdo excedente */
    text-overflow: ellipsis; /* Mostra reticências (...) para indicar que o texto foi truncado */
}


.language {    
    display: fixed;
    align-items: center;
    padding: 0px;
    
}

.pt-br {
    font-family: var(--quicksand);
    font-size: 14px;
    font-weight: 400;
    line-height: 17.5px;
    text-align: left;
    color: rgba(51, 51, 51, 1);
    border: 1px solid rgba(204, 204, 204, 1); 
    padding: 8px 14px; 
    display: inline-block;
    border-radius: 3px;
    white-space: nowrap;
    

}

.pt-br::before {
    /* content: url('../assets/globo.jpg'); */
    background-size: contain;
    
}
.pt-br::after {
    content: "\0020 \25BC";
    font-size: 10px;    
}

.login {
    display: flex;
    align-items: center;
    margin-right: 110px;
    margin-left: 22px;
}


.welcome {    
    text-align: right;
}



.text-welcome {
    font-family: var(--quicksand);
    font-size: 14px;
    font-weight: 400;
    line-height: 17.5px;

}

.text-email{
    font-family: var(--quicksand);
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
}
.content-photo {
    right: 36px; 
    align-items: center;
    margin-left: 10px;
}

.photo {
    height: 30px;
    border-radius: 50%;
    position: relative;
    margin-top: 15px;


}
.badge {
    position: relative;
    top: -35px;
    right: -20px;
    background-color: rgba(248, 89, 89, 1);
    color: white;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    line-height: 20px; 
    text-align: center;
    font-family: Roboto;
    font-size: 10px;
    font-weight: 700;
    line-height: 11.72px;
    letter-spacing: -0.02em;

  }



.main {
    background-color: white;
    margin-left: 800;
    height: 1701px;
    width: 100%;
    padding-top: 20px;
    padding-left: 43px;
    padding-bottom: 50px;
}


h1, h2 {
    text-align: center;
}

p{
    align-items: center;
    margin: auto;
}

.apresentation {
    display: flex;
    flex-direction: row;
    height: 512px;
    margin-right: 19px;
    margin-bottom: 30px;
}

.left-apresentation{    
    width: 784px;
}

.cabecalho{
    font-family: var(--roboto);
    font-size: 16px;
    font-weight: 900;
    line-height: 25px;
    letter-spacing: 0.05em;
    text-align: left;    
    color: var(--cenoura);
    height: 54px;
    white-space: nowrap; /* Evita que o texto quebre em várias linhas */
    overflow: hidden; /* Esconde qualquer conteúdo excedente */
    text-overflow: ellipsis; /* Mostra reticências (...) para indicar que o texto foi truncado */
    max-width: 100%; /* Define a largura máxima do texto */
    margin-bottom: 19px;

}

/* div.video{
	background-color: var(--cor5);
	margin: Opx 0px 0px 0px;
	position: relative; 
    border-radius: 3px;	
    height: 73%;
}

div.video > iframe{
	position: relative;
	width: 100%;
	height: 100%; 		
} */

.thumb {
    width: 784px;
    border-radius: 3px;
}
.right-apresentation{
    display: flex;
    flex-direction: column;
    width: 242px;
    height: 100%;
    top: 73px;
    left: 816px;
    border: 1px 0px 0px 0px;
    margin-left: 30px;

}

.header-download{
    width: 242px;
    height: 73px;    
}

.header-download-top {
    display: flex;
    justify-content: flex-end;
}

.download {    
    width: 120px;
    height: 31px;
    padding: 2px 8px 2px 8px;
    border-radius: 4px;
    background-color: var(--cenoura);
    display: flex;
    margin-right: 5px;

}

.download>p {
    font-family: var(--roboto);
    font-size: 17px;
    font-weight: 500;
    line-height: 18.75px;
    text-align: center;

    color: white;
    width: 72px;
    height: 19px;
    top: 6px;
    left: 36px;
    gap: 0px;
    opacity: 0px;

}

.star{
    background-color: var(--cenoura);
    width: 43px;
    height: 31px;
    padding: 3px 0px 0px 0px;
    border-radius: 4px ;    
    margin-right: 5px;
    text-align: center;
    align-items: center;
}

.doi{        
    background-color: var(--cenoura);
    width: 43px;
    height: 31px;
    padding: 3px 0px 0px 0px;
    border-radius: 4px;
    text-align: center;
    align-items: center;

}

.altura-imagem {
    height: 26px;
}
.como-citar {
    font-family: var(--roboto);
    font-size: 13px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.05em;
    text-align: right;
    color: var(--cenoura);
    white-space: nowrap; 


}

.detalhes{
    width: 242px;
    height: 439px;
    border-radius: 3px;
    outline-color: rgba(236, 236, 236, 1);
    outline: 2px solid var(--cinza);   

}

.header-detalhes{
    background-color: var(--pessego);
    width: 242px;
    height: 45px;
    border-radius: 3px 3px 0px 0px;
    outline: 2px solid var(--cinza);  
}

.texto-detalhes{
    padding-top: 11px;
    padding-left: 15px;
    font-family:  var(--roboto);
    font-size: 20px;
    font-weight: 550;
    line-height: 25px;
    color: var(--strong-black);
}

.conteudo-detalhes{
    padding: 15px;
    font-family: Quicksand;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
    letter-spacing: 0.02em;
    text-align: left;
    line-height: 1.6em;
}

.lista-editavel{
    list-style-type: none;
    padding-left: 0;    
}

.cinza-claro{
    color: var(--cinza-claro);
}

.cinza-escuro{
    color: rgb(92, 92, 92);
}

.cinza{
    height: max-content;
}

.bordas{
    border-radius: 3px;
    outline: 2px solid var(--cinza);   
}

.largura-conteudo{
    width: 1055px;
}

.distancia{
    margin-bottom: 30px;
}

.resumo-padding{
    padding: 15px;    
    text-align: justify;
    
}

#resto-conteudo{
    display: none;
}


#btnVerMais{
    font-family: var(--quicksand);
    font-size: 14px;
    font-weight: 400;
    line-height: 22.75px;
    letter-spacing: 0.02em;
    
}



#ver-mais{
    color: var(--cenoura);    
    font-weight: 900;
}