<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="app.component.style.css">
  <title>Chuva - Exercício ts</title>
</head>
<body>
  <div class="flex">
    
    <div class="sidebar">
      <div>
        <div id="slaca-2019">
          <h1 id="texto-slaca-2019">SLACA 2019</h1>
        </div>
        <img id="logo-sidebar" src="../assets/logoSLACA.png" alt="13 slaca">
      </div>
      <div>
        <ul>
          <li class="itens">
            <a class="item" href="#">Apresentação</a>
            <a class="item" href="#">Comitês</a>
            <a class="item" href="#">Autores</a>
            <a class="item" href="#">Eixos temáticos</a>
            <a class="item item-selecionado" href="#">Trabalhos</a>
            <a class="item" href="#">Contato</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="content-page">
      <header class="header">
        
        <div class="text-header">
          <p> <span class="text-header-little">Anais do Simpósio Latino Americano de Ciências de Alimentos</span><br>
          <span class="text-header-big">Anais do 13º Simpósio Latino Americano de Ciência de Alimentos</span><br>
          <span class="text-header-little">ISSN: 1234-5678</span></p>
        </div>

        <div class="language">
          <h2 class="pt-br">PT, BR</h2>
        </div>

        <div class="login">
          <div class="welcome">
            <p ><span class="text-welcome">Bem vindo!</span><br><span class="text-email">alguem12@galoascience.com</span></p>
          </div>

          <div class="content-photo">
            <img class="photo" src="../assets/pessoa-que-nao-existe.jpeg" alt="rosto">
            <div class="badge">2</div>
          </div>

        </div>
      </header>
      <main class="main">
        <div class="cinza">
          <!-- <p>Teste </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>Teste</p> -->
          <div class="apresentation">
            <div class="left-apresentation">              
              <div class="cabecalho">
                <p>Análise sensorial de preparações funcionais desenvolvidas para escolares</br>entre 09 e 15 anos, do município de Campinas/SP </p>
              </div>
              <div>
                <img class="thumb" src="../assets/thumb.jpeg" alt="thumb">
                <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/hsYjz6sYt4k?si=B-saNDKR1ZBN7JdE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
                poster="../assets/pessoa-que-nao-existe" allowfullscreen ></iframe> -->
              </div>
            </div>

            <div class="right-apresentation">
              <div class="header-detalhes">
                <div class="header-detalhes-top">
                  <div class="download">
                    <img class="altura-imagem" src="../assets/download.jpg" alt="download">
                    <p>Download</p>
                  </div>
                  <div class="star">
                    <img class="altura-imagem" src="../assets/star.jpg" alt="star">
                  </div>
                  <div class="doi">
                    <img class="altura-imagem" src="../assets/doi.jpg" alt="doi">
                  </div>
                </div>
                <h2 class="como-citar">COMO CITAR ESSE TRABALHO?</h2>
              </div>
              <div class="detalhes">
                
              </div>
            </div>
          </div>

          <div class="resumo">

          </div>

          <div class="discussoes">

          </div>
        </div>
        
      </main>
      <footer>
        <div class="footer">

        </div>
      </footer>
      </div>
  </div>
  
</body>
</html>
